resources/.DS_Store
.DS_Store
custom/.DS_Store
resources/magic-egg-allinone-exporter.mse-export-template/.DS_Store
__pycache__
sets/ULT2-files/img/162_Ms. Pauling_front.png
sets/ULT2-files/img/162_Ms. Pauling_back.png
sets/ULT2-files/img/15_Ms. Pauling.png
sets/ULT2-files/img/162_Ms. Pauling_front.png
sets/ULT2-files/img/162_Ms. Pauling_back.png
sets/ULT2-files/img/15_Ms. Pauling.png
sets/ULT2-files/img/162_Ms. Pauling_front.png
sets/ULT2-files/img/162_Ms. Pauling_back.png
sets/ULT2-files/img/14_Ms. Pauling.png
